//RWD
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;


//family-fonts
$poppins: "Poppins", sans-serif;

//colors
$black: #040505;
$black-light: #040505CC;
$green: #87DB1C;